body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
nav.navigateur {
    width: 100%;
    background-color: #C80BC8; 
    padding: 10px 0; 
  }
  
nav.navigateur ul {
    list-style-type: none; 
    margin: 0;
    padding: 0;
    text-align: flex-start; 
  }
  
nav.navigateur ul li {
    display: inline-block;
    margin: 0 20px; 
  }
  
nav.navigateur ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
    padding: 10px 20px; 
    display: inline-block;
    border-radius: 5px; 
    transition: background-color 0.3s ease; 
  }
  
nav.navigateur ul li a:hover {
    background-color: #575757; 
  }

header.titreBlog {
    background-color: #FF66C4;
    width: 100%;
}
  

  
 
  


